/* Custom styling for alerts */
.error-dialog {
    -fx-background-color: white;
}

.error-dialog > *.header-panel {
    -fx-background-color: #fce8e6;
}

.error-dialog > *.header-panel *.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #d93025;
}

.error-dialog > *.content.label {
    -fx-font-size: 14px;
    -fx-text-fill: #202124;
    -fx-padding: 16px 0 0 0;
}

.error-dialog:header .graphic-container {
    -fx-padding: 0;
}

.error-dialog .button-bar .container {
    -fx-padding: 16px 0;
}

.error-dialog .button-bar .button {
    -fx-background-color: #1a73e8;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-background-radius: 4;
}

.error-dialog .button-bar .button:hover {
    -fx-background-color: #1765cc;
}

.error-dialog .button-bar .button:pressed {
    -fx-background-color: #185abc;
}